VITE_ZITADEL_DOMAIN=https://your-instance.zitadel.cloud
VITE_ZITADEL_CLIENT_ID=your-client-id-from-console
VITE_ZITADEL_CALLBACK_URL=http://your-callback-url
VITE_ZITADEL_POST_LOGOUT_URL=http://your-post-logout-url
VITE_ZITADEL_POST_LOGIN_URL=/your-login-url
