VITE_ZITADEL_DOMAIN=https://your-instance.zitadel.cloud
VITE_ZITADEL_CLIENT_ID=your-client-id-from-console
VITE_ZITADEL_CALLBACK_URL=http://your-callback-url
VITE_ZITADEL_POST_LOGOUT_URL=http://your-post-logout-url
VITE_ZITADEL_POST_LOGIN_URL=/user
VITE_API_BASE_URL=http://your-api-base-url
VITE_INTERVIEW_API_BASE_URL=http://localhost:8081/api/v1
VITE_INTERVIEW_WS_URL=ws://localhost:8081/ws
VITE_ORGANIZATION_API_BASE_URL=http://localhost:8082/api/v1
